# Rust
target/
Cargo.lock
**/*.rs.bk
*.pdb

# WASM
pkg/
wasm-pack.log

# Trunk
dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node (si se usa Tailwind CLI)
node_modules/
package-lock.json
yarn.lock

# Logs
*.log
